@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;900&family=Roboto:wght@700&display=swap");
/* Reset and base styles */
@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited,
a:hover {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type=submit] {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

address {
  all: unset;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  color: var(--text-light);
  background-color: #1e1e1e;
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.section {
  margin-top: 1px;
  padding-top: clamp(1.875rem, 0.268rem + 8.04vw, 7.5rem);
  padding-bottom: clamp(1.875rem, 0.268rem + 8.04vw, 7.5rem);
  border-radius: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
  background-color: var(--background-primary);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: clamp(0.938rem, -1.116rem + 10.27vw, 8.125rem);
  padding-right: clamp(0.938rem, -1.116rem + 10.27vw, 8.125rem);
  background-color: var(--background-primary);
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --text-light: #fff;
  --text-dark: #0a0c0f;
  --text-24: rgba(255, 255, 255, 0.24);
  --text-36: rgba(255, 255, 255, 0.36);
  --text-56: rgba(255, 255, 255, 0.56);
  --text-08: rgba(255, 255, 255, 0.08);
  --accent-primary: #43a1f7;
  --rose-1: #ff68c3;
  --rose-2: #ea68ff;
  --rose-3: #cf68ff;
  --light-color: #fff;
  --dark-color: #000;
  --background-primary: #0a0c0f;
  --background-blue: rgba(67, 161, 247, 0.16);
  --background-04: rgba(255, 255, 255, 0.04);
  --background-08: rgba(255, 255, 255, 0.08);
  --background-12: rgba(255, 255, 255, 0.12);
  --background-50: rgba(255, 255, 255, 0.5);
  --background-80: rgba(255, 255, 255, 0.8);
  --background-rose: rgba(255, 104, 195, 0.16);
  --linear-grad-main: linear-gradient(
    to left,
    #577cff,
    #9b4cff,
    #fb4a4a,
    #9b4cff,
    #43d7f7,
    #00f69e
  );
  --linear-grad-blue: linear-gradient(268deg, #577cff 0%, #4cbfff 100%);
  --linear-grad-rose: linear-gradient(268deg, #fb4a4a 0%, #9b4cff 100%);
  --linear-grad-yellow: linear-gradient(44deg, #ffc657 24.69%, #ffd977 75.86%);
  --linear-grad-green: linear-gradient(180deg, #43d7f7 0%, #00f69e 100%);
  --linear-grad-rose-blue: linear-gradient(
    90deg,
    #ba62ff 18.51%,
    #57b1f2 80.43%
  );
  --radial-grad-seven: radial-gradient(
    57219.18% 137.55% at 92.97% 0%,
    rgba(67, 161, 247, 0.8) 0%,
    rgba(134, 67, 220, 0.8) 14.06%,
    rgba(247, 67, 175, 0.8) 28.65%,
    rgba(247, 128, 112, 0.8) 47.85%,
    rgba(190, 64, 255, 0.8) 57.29%,
    rgba(32, 188, 255, 0.8) 71.88%,
    rgba(0, 246, 158, 0.8) 100%
  );
  --radial-grad-rose: radial-gradient(
    38.86% 38.86% at 50% 50%,
    rgba(255, 108, 223, 0.24) 0%,
    rgba(255, 108, 188, 0) 100%
  );
  --radial-grad-violet: radial-gradient(
    38.86% 38.86% at 50% 50%,
    #b153fb 0%,
    #6944ff 100%
  );
  --radial-grad-blue: radial-gradient(
    38.86% 38.86% at 50% 50%,
    #6743f7 0%,
    #02e4d6 100%
  );
  --radial-grad-green: radial-gradient(
    circle at center,
    #43a1f7 0%,
    #00f69e 100%
  );
  --radial-grad-orange: radial-gradient(
    38.86% 38.86% at 50% 50%,
    rgba(255, 168, 119, 0.16) 0%,
    rgba(255, 217, 119, 0) 100%
  );
  --mobile: 320px;
  --tablet-small: 480px;
  --tablet-big: 768px;
  --desktop-small: 1024px;
  --desktop-big: 1200px;
}

.visually--hidden {
  visibility: hidden;
  height: 0;
}

.header__message {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 0;
  position: relative;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--linear-grad-main);
}

.header__message.display-none {
  display: none;
}

.header__message-text--wrapper {
  max-width: 740px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message-text {
  text-align: center;
  font-size: clamp(0.75rem, 0.716rem + 0.17vw, 0.813rem);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.169px;
  color: var(--text-56);
  text-wrap: balance;
}

.message__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3px;
}

.message__read-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: clamp(0.5rem, 0.214rem + 1.43vw, 1.5rem);
  font-size: clamp(0.75rem, 0.716rem + 0.17vw, 0.813rem);
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: -0.169px;
  color: var(--text-light);
}
@media screen and (min-width: 910px) {
  .message__read-btn {
    color: var(--text-36);
  }
}

.message__read-arrow {
  width: 14px;
  height: 14px;
  margin-left: 6px;
}
@media screen and (min-width: 910px) {
  .message__read-arrow {
    display: none;
  }
}

.message__btn--close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--background-50);
}

.burger-menu {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  margin-left: auto;
  cursor: pointer;
}
@media screen and (max-width: 909.8px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
}
.burger-menu.is-open .bar:nth-child(2) {
  opacity: 0;
}
.burger-menu.is-open .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.burger-menu.is-open .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 24px;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--light-color);
}

.mobile__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
  top: -150%;
  z-index: 10;
  width: clamp(19.375rem, 16.692rem + 13.41vw, 25rem);
  padding: 30px 50px;
  border-bottom-left-radius: 20px;
  background: var(--linear-grad-blue);
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

.mobile__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}

.mobile__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--light-color);
}

.mobile__nav-link {
  padding: 10px;
}

.mobile__user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  color: var(--light-color);
  padding: 10px;
}

.mobile__user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.mobile-select-icon {
  width: 24px;
  height: 24px;
  fill: var(--light-color);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
}

.header__wrapper {
  background-color: rgba(10, 12, 15, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__wrapper.open-menu {
  background-color: var(--background-primary);
}

.logo-icon {
  width: 56px;
  height: 64px;
}

.header__navigation-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
@media screen and (min-width: 910px) {
  .header__navigation-bar {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.header__menu {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -100%;
  left: 0;
  overflow: hidden;
  padding-bottom: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}
.header__menu.open-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  background-color: var(--background-primary);
}
@media screen and (min-width: 768px) {
  .header__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 910px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    margin-left: 28px;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}

.header__nav-list {
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--background-12);
  -webkit-transition: top 1s ease-in-out;
  transition: top 1s ease-in-out;
}
@media screen and (min-width: 480px) {
  .header__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    padding-top: 0;
    border-bottom: none;
  }
}

.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-56);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav-item.active {
  color: var(--text-light);
}

.header__nav-link {
  padding: 10px 0;
}

.nav-select-icon {
  width: 24px;
  height: 24px;
  fill: var(--text-36);
}

.header__user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-56);
}
@media screen and (min-width: 768px) {
  .header__user-actions {
    margin-top: 0;
  }
}

.hero {
  padding-bottom: clamp(1.875rem, 0.268rem + 8.04vw, 7.5rem);
  border-bottom-left-radius: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
  border-bottom-right-radius: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
  background-color: var(--background-primary);
}

.hero__title,
.hero__title--strong {
  width: clamp(18.75rem, 3.036rem + 78.57vw, 73.75rem);
  font-size: clamp(3.5rem, 2.179rem + 6.61vw, 8.125rem);
  font-weight: 700;
  line-height: clamp(3.5rem, 2.357rem + 5.71vw, 7.5rem);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
  letter-spacing: -4px;
  color: var(--text-light);
}

.hero__title--strong {
  background-image: linear-gradient(268deg, #577cff 0%, #4cbfff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__title--strong span {
  display: none;
}
@media screen and (min-width: 910px) {
  .hero__title--strong span {
    display: inline;
  }
}

.hero__cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: clamp(4rem, 2.714rem + 6.43vw, 8.5rem);
}
@media screen and (min-width: 910px) {
  .hero__cards-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.hero__card-item {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: clamp(1.25rem, -0.536rem + 8.93vw, 3.75rem) clamp(1.25rem, -1.429rem + 13.39vw, 5rem);
  border-radius: 24px;
  border: 1px solid var(--background-04);
  background: var(--background-08);
  -webkit-box-shadow: 0px 24px 48px -24px rgba(10, 12, 15, 0.16);
          box-shadow: 0px 24px 48px -24px rgba(10, 12, 15, 0.16);
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
}
@media screen and (min-width: 560px) {
  .hero__card-item {
    width: calc((100% - 10px) / 2);
    padding: 24px clamp(1rem, -0.313rem + 3.75vw, 2.5rem);
  }
}
@media screen and (min-width: 1024px) {
  .hero__card-item {
    width: calc((100% - 20px) / 3);
  }
}

.hero__card-item--graph {
  width: 100%;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (min-width: 910px) {
  .hero__card-item--graph {
    height: clamp(6.25rem, -0.614rem + 12.07vw, 8.438rem);
  }
}

.item-grah__columns-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 3px;
}

.item-graph__btn {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  padding: 6px 12px;
  border-radius: 16px;
  background: linear-gradient(268deg, #577cff 0%, #4cbfff 100%), #43a1f7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-graph__btn:focus-visible, .item-graph__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.item-grah--column {
  width: 6.3%;
  height: 100%;
  border-radius: 8px;
}
.item-grah--column:nth-child(1) {
  height: 10%;
  background: var(--background-08);
}
.item-grah--column:nth-child(2) {
  height: 15%;
  background: var(--background-08);
}
.item-grah--column:nth-child(3) {
  height: 19%;
  background: var(--background-08);
}
.item-grah--column:nth-child(4) {
  height: 25%;
  background: var(--background-08);
}
.item-grah--column:nth-child(5) {
  height: 32%;
  background: var(--background-08);
}
.item-grah--column:nth-child(6) {
  height: 41%;
  background: var(--background-08);
}
.item-grah--column:nth-child(7) {
  height: 55%;
  background: var(--background-08);
}
.item-grah--column:nth-child(8) {
  height: 70%;
  background: var(--background-08);
}
.item-grah--column:nth-child(9) {
  height: 85%;
  background: var(--background-08);
}
.item-grah--column:nth-child(10) {
  height: 100%;
  background: var(--background-08);
}

.item-graph__icon {
  width: clamp(4.5rem, 3.429rem + 5.36vw, 6rem);
}
@media screen and (min-width: 560px) {
  .item-graph__icon {
    width: clamp(3.125rem, -0.875rem + 11.43vw, 5.625rem);
    height: clamp(3.125rem, -0.875rem + 11.43vw, 5.625rem);
  }
}
@media screen and (min-width: 910px) {
  .item-graph__icon {
    width: clamp(3.125rem, -1.19rem + 7.59vw, 4.5rem);
    height: clamp(3.125rem, -1.19rem + 7.59vw, 4.5rem);
  }
}

.item-graph__label {
  width: 56px;
  height: 32px;
  display: block;
  position: relative;
  margin: 0 20px;
  background: var(--background-50);
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
          box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.item-graph__label:after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background: var(--light-color);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (min-width: 910px) {
  .item-graph__label:after {
    width: clamp(0.875rem, -1.871rem + 4.83vw, 1.75rem);
    height: clamp(0.875rem, -1.871rem + 4.83vw, 1.75rem);
    top: clamp(0.063rem, -0.134rem + 0.34vw, 0.125rem);
    left: clamp(0.063rem, -0.134rem + 0.34vw, 0.125rem);
  }
}
@media screen and (min-width: 910px) {
  .item-graph__label {
    width: clamp(1.75rem, -3.741rem + 9.66vw, 3.5rem);
    height: clamp(1rem, -2.138rem + 5.52vw, 2rem);
  }
}

.item-graph__label-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (min-width: 910px) {
  .item-graph__label-icon {
    width: clamp(0.625rem, -1.336rem + 3.45vw, 1.25rem);
    height: clamp(0.625rem, -1.336rem + 3.45vw, 1.25rem);
  }
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + .item-graph__label {
  background: linear-gradient(268deg, #577cff 0%, #4cbfff 100%), #43a1f7;
}
input:checked + .item-graph__label .item-graph__label-icon {
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-115%, -50%);
          transform: translate(-115%, -50%);
}

input:checked + .item-graph__label:after {
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.item-graph__icon-midas {
  position: absolute;
  z-index: 20;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 50%;
  background: rgb(27, 27, 27);
}
@media screen and (min-width: 560px) {
  .item-graph__icon-midas {
    width: clamp(4.375rem, 1.775rem + 7.43vw, 6rem);
  }
}
@media screen and (min-width: 910px) {
  .item-graph__icon-midas {
    width: clamp(4.375rem, -0.724rem + 8.97vw, 6rem);
  }
}

.hero__card-item--desc {
  margin-top: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
  text-align: center;
  color: var(--text-36);
}

.hero__card-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.4px;
  color: var(--White, #fff);
}
@media screen and (min-width: 560px) {
  .hero__card-title {
    font-size: clamp(0.875rem, 2.5vw, 1.5rem);
  }
}
@media screen and (min-width: 910px) {
  .hero__card-title {
    font-size: clamp(0.875rem, -0.198rem + 1.89vw, 1.5rem);
  }
}

.hero__card-link {
  margin-top: clamp(0.5rem, 0.386rem + 0.57vw, 0.75rem);
}

.metrics__container {
  background-image: url(../src/images/bg/ellipse-green_desk.png);
  background-repeat: no-repeat;
  background-position: center;
}

.metrics__title {
  text-align: center;
  font-size: clamp(3rem, 0.804rem + 9.76vw, 8.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -4.5px;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}

.metrics__info--wrapper {
  margin-top: clamp(2.5rem, 0.864rem + 8.18vw, 7rem);
}

.metrics__info--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 58px;
}

.metrics__info--item {
  text-align: center;
}

.metrics__info--item-value {
  font-size: clamp(2rem, 1.455rem + 2.73vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1.5px;
  color: var(--text-light);
}

.metrics__info--item-text {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.48px;
  color: var(--text-light);
  margin-top: clamp(0.125rem, -0.011rem + 0.68vw, 0.5rem);
}

.metrics__graph--wrapper {
  width: clamp(17.5rem, 7.409rem + 50.45vw, 45.25rem);
  height: clamp(8.75rem, 3.682rem + 25.34vw, 22.688rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 63px auto 0 auto;
  background-image: url(../src/images/icons/decor/ellipse.svg);
  background-repeat: no-repeat;
}

.metrics__graph--info {
  text-align: center;
}

.metrics__graph--info-value {
  font-size: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -2.5px;
  color: var(--text-light);
}

.metrics__graph--info-text {
  font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.256px;
  color: var(--text-light);
}

.metrics__cards--list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: -10px;
}
@media screen and (min-width: 560px) {
  .metrics__cards--list {
    gap: 20px;
  }
}

.metrics__card--item {
  width: 100%;
  padding: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.4px;
  color: var(--text-light);
  border-radius: 32px;
  border: 1px solid var(--background-08);
  background: var(--background-08);
  -webkit-box-shadow: 0px 40px 64px -30px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 40px 64px -30px rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
@media screen and (min-width: 560px) {
  .metrics__card--item {
    width: calc((100% - 20px) / 2);
    max-width: 480px;
    font-size: clamp(1.125rem, 0.359rem + 2.19vw, 2rem);
  }
}

.metrics__card--link {
  margin-top: clamp(1.5rem, 0.804rem + 3.1vw, 3.125rem);
  position: relative;
}
.metrics__card--link::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 50%;
  right: -30px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-image: url(../src/images/icons/arrows/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: none;
  background-color: var(--background-primary);
}
@media screen and (min-width: 910px) {
  .footer {
    display: block;
  }
}

.footer__wrapper {
  padding-top: 38px;
  padding-bottom: 56px;
}

.footer__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.footer__item-list {
  width: 210px;
}

.footer__item-list--title {
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: -0.36px;
  color: var(--text-light);
}

.footer__item-list--title.dark {
  color: var(--text-24);
}

.footer__item-sublist {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer__item-sublist--item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.32px;
  color: var(--text-56);
  text-wrap: balance;
}/*# sourceMappingURL=index.css.map */