@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;900&family=Roboto:wght@700&display=swap");
/* Reset and base styles */
@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type=submit] {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

address {
  all: unset;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  color: var(--text-light);
  background-color: #1e1e1e;
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.section {
  padding-top: clamp(1.875rem, 0.268rem + 8.04vw, 7.5rem);
  padding-bottom: clamp(1.875rem, 0.268rem + 8.04vw, 7.5rem);
  border-radius: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
  background-color: var(--background-primary);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: clamp(0.938rem, -1.116rem + 10.27vw, 8.125rem);
  padding-right: clamp(0.938rem, -1.116rem + 10.27vw, 8.125rem);
  background-color: var(--background-primary);
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --text-light: #fff;
  --text-dark: #0a0c0f;
  --text-24: rgba(255, 255, 255, 0.24);
  --text-36: rgba(255, 255, 255, 0.36);
  --text-56: rgba(255, 255, 255, 0.56);
  --text-08: rgba(255, 255, 255, 0.08);
  --accent-primary: #43a1f7;
  --rose-1: #ff68c3;
  --rose-2: #ea68ff;
  --rose-3: #cf68ff;
  --light-color: #fff;
  --dark-color: #000;
  --background-primary: #0a0c0f;
  --background-blue: rgba(67, 161, 247, 0.16);
  --background-04: rgba(255, 255, 255, 0.04);
  --background-08: rgba(255, 255, 255, 0.08);
  --background-12: rgba(255, 255, 255, 0.12);
  --background-50: rgba(255, 255, 255, 0.5);
  --background-80: rgba(255, 255, 255, 0.8);
  --background-rose: rgba(255, 104, 195, 0.16);
  --linear-grad-main: linear-gradient(
    to left,
    #577cff,
    #9b4cff,
    #fb4a4a,
    #9b4cff,
    #43d7f7,
    #00f69e
  );
  --linear-grad-blue: linear-gradient(268deg, #577cff 0%, #4cbfff 100%);
  --linear-grad-rose: linear-gradient(268deg, #fb4a4a 0%, #9b4cff 100%);
  --linear-grad-yellow: linear-gradient(44deg, #ffc657 24.69%, #ffd977 75.86%);
  --linear-grad-green: linear-gradient(180deg, #43d7f7 0%, #00f69e 100%);
  --linear-grad-rose-blue: linear-gradient(
    90deg,
    #ba62ff 18.51%,
    #57b1f2 80.43%
  );
  --radial-grad-seven: radial-gradient(
    57219.18% 137.55% at 92.97% 0%,
    rgba(67, 161, 247, 0.8) 0%,
    rgba(134, 67, 220, 0.8) 14.06%,
    rgba(247, 67, 175, 0.8) 28.65%,
    rgba(247, 128, 112, 0.8) 47.85%,
    rgba(190, 64, 255, 0.8) 57.29%,
    rgba(32, 188, 255, 0.8) 71.88%,
    rgba(0, 246, 158, 0.8) 100%
  );
  --radial-grad-rose: radial-gradient(
    38.86% 38.86% at 50% 50%,
    rgba(255, 108, 223, 0.24) 0%,
    rgba(255, 108, 188, 0) 100%
  );
  --radial-grad-violet: radial-gradient(
    38.86% 38.86% at 50% 50%,
    #b153fb 0%,
    #6944ff 100%
  );
  --radial-grad-blue: radial-gradient(
    38.86% 38.86% at 50% 50%,
    #6743f7 0%,
    #02e4d6 100%
  );
  --radial-grad-green: radial-gradient(
    circle at center,
    #43a1f7 0%,
    #00f69e 100%
  );
  --radial-grad-orange: radial-gradient(
    38.86% 38.86% at 50% 50%,
    rgba(255, 168, 119, 0.16) 0%,
    rgba(255, 217, 119, 0) 100%
  );
  --mobile: 320px;
  --tablet-small: 480px;
  --tablet-big: 768px;
  --desktop-small: 1024px;
  --desktop-big: 1200px;
}

.visually--hidden {
  visibility: hidden;
  height: 0;
}

.header__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 8px 0;
  position: relative;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--linear-grad-main);
}

.header__message.display-none {
  display: none;
}

.header__message-text--wrapper {
  max-width: 740px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message-text {
  text-align: center;
  font-size: clamp(0.75rem, 0.716rem + 0.17vw, 0.813rem);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.169px;
  color: var(--text-56);
  text-wrap: balance;
}

.message__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3px;
}

.message__read-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: clamp(0.5rem, 0.214rem + 1.43vw, 1.5rem);
  font-size: clamp(0.75rem, 0.716rem + 0.17vw, 0.813rem);
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: -0.169px;
  color: var(--text-light);
}
@media screen and (min-width: 910px) {
  .message__read-btn {
    color: var(--text-36);
  }
}

.message__read-arrow {
  width: 14px;
  height: 14px;
  margin-left: 6px;
}
@media screen and (min-width: 910px) {
  .message__read-arrow {
    display: none;
  }
}

.message__btn--close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--background-50);
}

.burger-menu {
  display: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  cursor: pointer;
}
@media screen and (max-width: 909.8px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
}
.burger-menu.is-open .bar:nth-child(2) {
  opacity: 0;
}
.burger-menu.is-open .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.burger-menu.is-open .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 24px;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--light-color);
}

.header {
  background-color: var(--background-primary);
}

.header__navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 28px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-56);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav-item.active {
  color: var(--text-light);
}

.header__nav-link {
  padding: 10px 0;
}

.header__user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-56);
}

.user-actions__select-icon {
  width: 20px;
  height: 20px;
}

.hero {
  padding-top: clamp(2rem, 1.143rem + 4.29vw, 5rem);
  padding-bottom: clamp(1.875rem, 0.268rem + 8.04vw, 7.5rem);
  border-bottom-left-radius: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
  border-bottom-right-radius: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
  background-color: var(--background-primary);
}

.hero__title,
.hero__title--strong {
  width: clamp(18.75rem, 3.036rem + 78.57vw, 73.75rem);
  font-size: clamp(3.5rem, 2.179rem + 6.61vw, 8.125rem);
  font-weight: 700;
  line-height: clamp(3.5rem, 2.357rem + 5.71vw, 7.5rem);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
  letter-spacing: -5px;
  color: var(--text-light);
  text-wrap: balance;
}

.hero__title--strong {
  background-image: linear-gradient(268deg, #577cff 0%, #4cbfff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__title--strong span {
  display: none;
}
@media screen and (min-width: 910px) {
  .hero__title--strong span {
    display: inline;
  }
}

.hero__cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(0.375rem, 0.125rem + 1.25vw, 1.25rem);
  margin-top: clamp(4rem, 2.714rem + 6.43vw, 8.5rem);
}

.hero__card-item {
  width: clamp(18.75rem, 17.321rem + 7.14vw, 23.75rem);
  height: clamp(16.25rem, 14.964rem + 6.43vw, 20.75rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: clamp(1.5rem, 1.357rem + 0.71vw, 2rem) clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
  border-radius: 24px;
  border: 1px solid var(--background-04);
  background: var(--background-08);
  -webkit-box-shadow: 0px 24px 48px -24px rgba(10, 12, 15, 0.16);
          box-shadow: 0px 24px 48px -24px rgba(10, 12, 15, 0.16);
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
}

.her__card-item--graph {
  width: 100%;
  height: clamp(8rem, 7.857rem + 0.71vw, 8.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.item-graph__btn {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  padding: 6px 12px;
  border-radius: 16px;
  background: linear-gradient(268deg, #577cff 0%, #4cbfff 100%), #43a1f7;
}

.item-grah__columns-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 3px;
}

.item-grah--column {
  width: 24px;
  height: 100%;
  border-radius: 8px;
}
.item-grah--column:nth-child(1) {
  height: 10%;
  background: var(--background-08);
}
.item-grah--column:nth-child(2) {
  height: 15%;
  background: var(--background-08);
}
.item-grah--column:nth-child(3) {
  height: 19%;
  background: var(--background-08);
}
.item-grah--column:nth-child(4) {
  height: 25%;
  background: var(--background-08);
}
.item-grah--column:nth-child(5) {
  height: 32%;
  background: var(--background-08);
}
.item-grah--column:nth-child(6) {
  height: 41%;
  background: var(--background-08);
}
.item-grah--column:nth-child(7) {
  height: 59%;
  background: var(--background-08);
}
.item-grah--column:nth-child(8) {
  height: 70%;
  background: var(--background-08);
}
.item-grah--column:nth-child(9) {
  height: 85%;
  background: var(--background-08);
}
.item-grah--column:nth-child(10) {
  height: 100%;
  background: var(--background-08);
}

.item-graph__label {
  width: 56px;
  height: 32px;
  display: block;
  position: relative;
  margin: 0 20px;
  background: var(--background-50);
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
          box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.item-graph__label:after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: 2px;
  left: 4px;
  border-radius: 50%;
  background: var(--light-color);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.item-graph__label-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + .item-graph__label {
  background: linear-gradient(268deg, #577cff 0%, #4cbfff 100%), #43a1f7;
}

input:checked + .item-graph__label:after {
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

input:checked + .item-graph__label-icon {
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.hero__card-item--desc {
  margin-top: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
  text-align: center;
}

.footer {
  visibility: hidden;
  height: 0;
  background-color: var(--background-primary);
}
@media screen and (min-width: 910px) {
  .footer {
    visibility: visible;
    height: auto;
  }
}

.footer__wrapper {
  padding-top: 38px;
  padding-bottom: 56px;
}

.footer__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.footer__item-list {
  width: 210px;
}

.footer__item-list--title {
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: -0.36px;
  color: var(--text-light);
}

.footer__item-list--title.dark {
  color: var(--text-24);
}

.footer__item-sublist {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer__item-sublist--item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.32px;
  color: var(--text-56);
  text-wrap: balance;
}/*# sourceMappingURL=index.css.map */