@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  color-scheme: light dark;
}

html,
body {
  width: 100%;
  height: 100%;

  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  color: var(--text-light);

  background-color: #1e1e1e;

  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;

  padding-right: 15px;
}

.page__wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.main {
  flex-grow: 1;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  cursor: pointer;
}
