.container {
  max-width: 1440px;

  margin: 0 auto;
  padding-left: clamp(0.938rem, -1.116rem + 10.27vw, 8.125rem);
  padding-right: clamp(0.938rem, -1.116rem + 10.27vw, 8.125rem);

  background-color: var(--background-primary);
}
