/* Reset and base styles */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */

a,
a:link,
a:visited,
a:hover {
  display: inline-block;

  color: inherit;
  text-decoration: none;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;

  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  display: block;

  max-width: 100%;
  height: auto;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type='submit'] {
  display: block;
  box-shadow: none;
  background-color: transparent;
  background: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

address {
  all: unset;
}
