<div class="mobile__menu">
        <nav class="mobile__nav--wrapper">
          <ul class="mobile__nav-list">
            <li class="mobile__nav-item">
              <a href="#" class="mobile__nav-link" aria-label="to">Platform</a>
            </li>
            <li class="mobile__nav-item active">
              <a href="#" class="mobile__nav-link" aria-label="to"
                >Midas Coin</a
              >
            </li>
            <li class="mobile__nav-item">
              <a href="#" class="mobile__nav-link" aria-label="to">YAPs</a>
            </li>
            <li class="mobile__nav-item">
              <a href="#" class="mobile__nav-link" aria-label="to">Resources</a>
			  <button class="mobile__nav-select" aria-label="user menu">
            <svg width="24" height="24" class="mobile-select-icon">
              <use href="./images/icons/icons.svg#down"></use>
            </svg>
            </li>
          </ul>
        </nav>

        <div class="mobile__user-actions">
          <p class="mobile__user-name">Aurielien Solamon</p>
          <button class="user-actions__select" aria-label="user menu">
            <svg width="24" height="24" class="mobile-select-icon">
              <use href="./images/icons/icons.svg#down"></use>
            </svg>
          </button>
        </div>
      </div>