<nav class="mob-menu__nav">
  <ul class="mob-menu__nav-list" aria-label="Navigation list">
    <li class="mob-menu__nav-item">
      <a
        href="#about"
        class="mob-menu__nav-link"
        aria-label="to About Us section"
        >About Us</a
      >
    </li>
    <li class="mob-menu__nav-item">
      <a
        href="#service"
        class="mob-menu__nav-link"
        aria-label="to Service section"
        >Service</a
      >
    </li>
    <li class="mob-menu__nav-item">
      <a href="#reviews" class="mob-menu__nav-link" aria-label="to Menu section"
        >Reviews</a
      >
    </li>
    <li class="mob-menu__nav-item">
      <a
        href="#contact"
        class="mob-menu__nav-link"
        aria-label="to Contact section"
        >Contacts</a
      >
    </li>
    <li class="mob-menu__nav-download">
      <a
        href="#download"
        class="mob-menu__user-download"
        aria-label="Download App"
        >Download App</a
      >
    </li>
  </ul>
</nav>
