<div class="backdrop is-hidden">
  <div class="modal">
    <div class="modal__logo">
      <svg width="56" height="64" class="modal__logo-icon">
        <use href="./images/icons/icons.svg#midas"></use>
      </svg>
      <p class="modal__logo-text">Midas Token</p>
    </div>
    <div class="modal__content">
      <p class="modal__content-text">This is a website prototype</p>
      <p class="modal__content-text">Some features do not work</p>
    </div>
    <button class="modal__close">Ok</button>
  </div>
</div>
