<section id="buy" class="section buy">
  <div class="container buy__container">
    <h2 class="buy__title">How to buy <br />Midas token</h2>

    <ul class="buy__info--list">
      <li class="buy__info--item">
        <div class="buy__item--text">
          <span class="buy__item--step">STEP I</span>
          <h3 class="buy__item--title">Make a deposit</h3>
          <h4 class="buy__item--subtitle">
            For clarity, we will show examples with FTM
          </h4>
          <p class="buy__item--desc">
            Make a deposit in supported crypto assets (20+) on Midas platform
          </p>
        </div>

        <img
          src="../src/images/photo/buy-1.png"
          alt="step 1"
          class="buy__item--img"
          width="580"
          height="700"
        />
      </li>
      <li class="buy__info--item">
        <div class="buy__item--text">
          <span class="buy__item--step">STEP II</span>
          <h3 class="buy__item--title">Open Midas token share</h3>
          <p class="buy__item--desc">
            Open MIDAS token share and click on “Swap” button
          </p>
        </div>

        <img
          src="../src/images/photo/buy-2.png"
          alt="step 2"
          class="buy__item--img"
          width="580"
          height="700"
        />
      </li>
      <li class="buy__info--item">
        <div class="buy__item--text">
          <span class="buy__item--step">STEP III</span>
          <h3 class="buy__item--title">Make a swap</h3>
          <p class="buy__item--desc">
            Swap your crypto to MIDAS token and start earning 30% APY
          </p>

          <button class="buy__item--link js-modal">
            <span class="buy__link--text">Go to platform</span>
            <svg width="14" height="14" class="buy-btn__link--arrow">
              <use href="../src/images/icons/icons.svg#arrows-right"></use>
            </svg>
          </button>
        </div>

        <img
          src="../src/images/photo/buy-3.png"
          alt="step 3"
          class="buy__item--img"
          width="580"
          height="700"
        />
      </li>

      <button class="buy__list--link js-modal">
        <span class="buy__link--text">Go to platform</span>
        <svg width="14" height="14" class="buy-btn__link--arrow">
          <use href="../src/images/icons/icons.svg#arrows-right"></use>
        </svg>
      </button>
    </ul>
  </div>
</section>
