<section id="faq" class="section faq" data-js-observer>
  <div class="container faq__container">
    <h2 class="faq__title" data-aos="zoom-in-down" data-aos-duration="1000">
      Frequently asked questions
    </h2>
    <p class="faq__desc">
      Everything you need to know about the Midas. Can’t find the answer you’re
      looking for? Feel free to contact me directly via:
    </p>

    <ul class="faq__socials--list">
      <li class="faq__socials--item">
        <div class="faq__socials--link js-modal">
          <svg width="36" height="36" class="socials__link--icon">
            <use href="../src/images/icons/icons.svg#telegram"></use>
          </svg>
          <span class="socials__link--name">Telegram</span>
        </div>
      </li>
      <li class="faq__socials--item">
        <div class="faq__socials--link js-modal">
          <svg width="36" height="36" class="socials__link--icon">
            <use href="../src/images/icons/icons.svg#discord"></use>
          </svg>
          <span class="socials__link--name">Discord</span>
        </div>
      </li>
      <li class="faq__socials--item">
        <div class="faq__socials--link js-modal">
          <svg width="32" height="32" class="socials__link--icon-headphones">
            <use href="../src/images/icons/icons.svg#headphones"></use>
          </svg>
          <span class="socials__link--name">Support</span>
        </div>
      </li>
    </ul>

    <!-- FAQ DETAILS -->
    <ul class="faq__details--list">
      <li
        class="faq__details--item"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <details class="faq__details">
          <summary class="faq__details--title">
            <h3>How to start investing</h3>

            <svg width="24" height="24" class="faq__details--icon">
              <use href="../src/images/icons/icons.svg#chevron-down"></use>
            </svg>
          </summary>
          <p class="faq__details--desc">Lorem ipsum dolor sit, amet elit:</p>
          <ul class="faq__details--desc-list">
            <li class="faq__details--desc-item">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est,
              sequi. Provident, doloribus. Culpa, praesentium sunt. Accusamus
              inventore distinctio dolorem quia et maxime quam repudiandae
              excepturi.
            </li>
            <li class="faq__details--desc-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
              deserunt.
            </li>
            <li class="faq__details--desc-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
              est ad dicta dolor, aut non!
            </li>
          </ul>
        </details>
      </li>
      <li
        class="faq__details--item"
        data-aos="fade-left"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <details class="faq__details">
          <summary class="faq__details--title">
            <h3>How much money is needed to start investing?</h3>

            <svg width="24" height="24" class="faq__details--icon">
              <use href="../src/images/icons/icons.svg#chevron-down"></use>
            </svg>
          </summary>
          <p class="faq__details--desc">
            Lorem ipsum dolor sit, amet consectetur:
          </p>
          <ul class="faq__details--desc-list">
            <li class="faq__details--desc-item">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est,
              sequi. Provident, doloribus. Culpa, praesentium sunt. Accusamus
              inventore distinctio dolorem quia et maxime quam repudiandae
              excepturi.
            </li>
            <li class="faq__details--desc-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
              deserunt.
            </li>
            <li class="faq__details--desc-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
              est ad dicta dolor, aut non!
            </li>
          </ul>
        </details>
      </li>
      <li
        class="faq__details--item"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <details class="faq__details">
          <summary class="faq__details--title">
            <h3>Is the Midas.Investments secure?</h3>

            <svg width="24" height="24" class="faq__details--icon">
              <use href="../src/images/icons/icons.svg#chevron-down"></use>
            </svg>
          </summary>
          <p class="faq__details--desc">
            Lorem ipsum, amet consectetur adipisicing elit:
          </p>
          <ul class="faq__details--desc-list">
            <li class="faq__details--desc-item">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est,
              sequi. Provident, doloribus. Culpa, praesentium sunt. Accusamus
              inventore distinctio dolorem quia et maxime quam repudiandae
              excepturi.
            </li>
            <li class="faq__details--desc-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
              est ad dicta dolor, aut non!
            </li>
          </ul>
        </details>
      </li>
      <li
        class="faq__details--item"
        data-aos="fade-left"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <details class="faq__details">
          <summary class="faq__details--title">
            <h3>How are funds withdrawn from the platform?</h3>

            <svg width="24" height="24" class="faq__details--icon">
              <use href="../src/images/icons/icons.svg#chevron-down"></use>
            </svg>
          </summary>
          <p class="faq__details--desc">
            In order to withdraw funds, follow these steps:
          </p>
          <ul class="faq__details--desc-list">
            <li class="faq__details--desc-item">
              First, you must select the wallet address where the funds will be
              transferred: this can be the address of an external exchange,
              local wallet or other service.
            </li>
            <li class="faq__details--desc-item">
              Open your investment unit card and find there the field for the
              withdrawal address, and next to it the "EDIT" button.
            </li>
            <li class="faq__details--desc-item">
              Once you have provided a withdrawal address, you need to confirm
              the withdrawal address by email. The address will change only
              after your confirmation.
            </li>
          </ul>
        </details>
      </li>
      <li
        class="faq__details--item"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <details class="faq__details">
          <summary class="faq__details--title">
            <h3>How Midas Investments generates yield for its customers?</h3>

            <svg width="24" height="24" class="faq__details--icon">
              <use href="../src/images/icons/icons.svg#chevron-down"></use>
            </svg>
          </summary>
          <p class="faq__details--desc">Lorem ipsum dolor sit:</p>
          <ul class="faq__details--desc-list">
            <li class="faq__details--desc-item">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est,
              sequi. Provident, doloribus. Culpa, praesentium sunt. Accusamus
              inventore distinctio dolorem quia et maxime quam repudiandae
              excepturi.
            </li>
          </ul>
        </details>
      </li>
      <li
        class="faq__details--item"
        data-aos="fade-left"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <details class="faq__details">
          <summary class="faq__details--title">
            <h3>What is Midas token and what are its values?</h3>

            <svg width="24" height="24" class="faq__details--icon">
              <use href="../src/images/icons/icons.svg#chevron-down"></use>
            </svg>
          </summary>
          <p class="faq__details--desc">
            Lorem ipsum dolor sit, amet consectetur:
          </p>
          <ul class="faq__details--desc-list">
            <li class="faq__details--desc-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
              deserunt.
            </li>
            <li class="faq__details--desc-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
              est ad dicta dolor, aut non!
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</section>
