<section class="section faq">
  <div class="container faq__container">
    <h2 class="faq__title">Frequently asked questions</h2>
    <p class="faq__desc">
      Everything you need to know about the Midas. Can’t find the answer you’re
      looking for? Feel free to contact me directly via:
    </p>

    <ul class="faq__socials--list">
      <li class="faq__socials--item">
        <a href="" class="faq__socials--link" aria-label="to Telegram">
          <svg width="36" height="36" class="socials__link--item">
            <use href="../src/images/icons/icons.svg#telegram"></use>
          </svg>
          <span class="socials__link--name">Telegram</span>
        </a>
      </li>
      <li class="faq__socials--item">
        <a href="" class="faq__socials--link" aria-label="to Discord">
          <svg width="36" height="36" class="socials__link--item">
            <use href="../src/images/icons/icons.svg#discord"></use>
          </svg>
          <span class="socials__link--name">Discord</span>
        </a>
      </li>
      <li class="faq__socials--item">
        <a href="" class="faq__socials--link" aria-label="to Support">
          <svg width="32" height="32" class="socials__link--item">
            <use href="../src/images/icons/icons.svg#headphones"></use>
          </svg>
          <span class="socials__link--name">Support</span>
        </a>
      </li>
    </ul>
  </div>
</section>
