<footer class="footer">
  <div class="footer__wrapper container">
    <ul class="footer__links-list">
      <li class="footer__item-list">
        <h2 class="footer__item-list--title">Products</h2>
        <ul class="footer__item-sublist">
          <li class="footer__item-sublist--item js-modal">
            <button class="footer__item-link" aria-label="to Platform">
              Platform
            </button>
          </li>
          <li class="footer__item-sublist--item js-modal">
            <button class="footer__item-link" aria-label="to Swap">Swap</button>
          </li>
          <li class="footer__item-sublist--item js-modal">
            <button
              class="footer__item-link"
              aria-label="to Yield Automated Strategies"
            >
              Yield Automated Strategies
            </button>
          </li>
        </ul>
      </li>
      <li class="footer__item-list">
        <h2 class="footer__item-list--title">Resources</h2>
        <ul class="footer__item-sublist">
          <li class="footer__item-sublist--item js-modal">
            <button class="footer__item-link" aria-label="to Blog">Blog</button>
          </li>
          <li class="footer__item-sublist--item js-modal">
            <button class="footer__item-link" aria-label="to Community">
              Community
            </button>
          </li>
          <li class="footer__item-sublist--item js-modal">
            <button
              class="footer__item-link"
              aria-label="to Earn Save Invest Repeat"
            >
              Earn Save Invest Repeat
            </button>
          </li>
        </ul>
      </li>
      <li class="footer__item-list">
        <h2 class="footer__item-list--title">Help</h2>
        <ul class="footer__item-sublist">
          <li class="footer__item-sublist--item js-modal">
            <button class="footer__item-link" aria-label="to Contacts">
              Contacts
            </button>
          </li>
          <li class="footer__item-sublist--item js-modal">
            <button class="footer__item-link" aria-label="to Support">
              Support
            </button>
          </li>
          <li class="footer__item-sublist--item js-modal">
            <button class="footer__item-link" aria-label="to User greement">
              User greement
            </button>
          </li>
        </ul>
      </li>

      <li class="footer__item-list">
        <h2 class="footer__item-list--title">Buy Midas coin</h2>
        <ul class="footer__item-sublist">
          <li class="footer__item-sublist--item js-modal">
            <button class="footer__item-link" aria-label="to Spiritswap">
              Spiritswap
            </button>
          </li>
          <li class="footer__item-sublist--item js-modal">
            <button class="footer__item-link" aria-label="to Boombswap">
              Boombswap
            </button>
          </li>
        </ul>
      </li>
      <li class="footer__item-list">
        <h2 class="footer__item-list--title dark">MDF AG</h2>
        <ul class="footer__item-sublist">
          <li class="footer__item-sublist--item">
            <address>
              Felsenstrasse 62, 8832, <br />Wollerau, Switzerland
            </address>
          </li>
          <li class="footer__item-sublist--item">CHE-323.398.672</li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
