<footer class="footer">
  <div class="footer__wrapper container">
    <ul class="footer__links-list">
      <li class="footer__item-list">
        <h2 class="footer__item-list--title">Products</h2>
        <ul class="footer__item-sublist">
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to">Platform</a>
          </li>
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to">Swap</a>
          </li>
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to"
              >Yield Automated Strategies</a
            >
          </li>
        </ul>
      </li>
      <li class="footer__item-list">
        <h2 class="footer__item-list--title">Resources</h2>
        <ul class="footer__item-sublist">
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to">Blog</a>
          </li>
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to">Community</a>
          </li>
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to"
              >Earn Save Invest Repeat</a
            >
          </li>
        </ul>
      </li>
      <li class="footer__item-list">
        <h2 class="footer__item-list--title">Help</h2>
        <ul class="footer__item-sublist">
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to">Contacts</a>
          </li>
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to">Support</a>
          </li>
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to"
              >User greement</a
            >
          </li>
        </ul>
      </li>

      <li class="footer__item-list">
        <h2 class="footer__item-list--title">Buy Midas coin</h2>
        <ul class="footer__item-sublist">
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to">Spiritswap</a>
          </li>
          <li class="footer__item-sublist--item">
            <a href="#" class="footer__item-link" aria-label="to">Boombswap</a>
          </li>
        </ul>
      </li>
      <li class="footer__item-list">
        <h2 class="footer__item-list--title dark">MDF AG</h2>
        <ul class="footer__item-sublist">
          <li class="footer__item-sublist--item">
            <address>
              Felsenstrasse 62, 8832, <br />Wollerau, Switzerland
            </address>
          </li>
          <li class="footer__item-sublist--item">CHE-323.398.672</li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
