<header class="header">
  <div class="container header__wrapper">
    <!-- Header Message -->
    <div class="header__message">
      <div class="header__message-text--wrapper">
        <p class="message-text">
          Delisting announcement. 12 DeFi and Masternode assets will be
          delisted.
        </p>
        <p class="message-text message__block">
          Withdraw by March 31.
          <button class="message__read-btn js-modal" aria-label="to Read More">
            Read more
            <img
              class="message__read-arrow"
              src="./images/icons/arrows/right-arrow.svg"
              alt="img"
              width="16"
              height="16"
            />
          </button>
        </p>
      </div>
      <button class="message__btn--close" aria-label="to close message">
        <svg width="16" height="16" class="message__icon--close">
          <use href="./images/icons/icons.svg#close"></use>
        </svg>
      </button>
    </div>
    <!-- ====================== -->

    <div class="header__navigation-bar">
      <a href="#" class="header__logo">
        <svg
          width="56"
          height="64"
          class="logo-icon header__nav-link active__nav-link"
        >
          <use href="./images/icons/icons.svg#midas"></use>
        </svg>
      </a>

      <!-- Burger Menu -->
      <div class="burger-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

      <div class="header__menu">
        <nav class="header__nav--wrapper">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a
                href="#metrics"
                class="header__nav-link"
                aria-label="to Metrics section"
                >Metrics</a
              >
            </li>
            <li class="header__nav-item">
              <a
                href="#stake"
                class="header__nav-link"
                aria-label="to Stake Midas Coin section"
                >Stake Midas Coin</a
              >
            </li>
            <li class="header__nav-item">
              <a
                href="#buy"
                class="header__nav-link"
                aria-label="to Buy Token section"
                >Buy Token</a
              >
            </li>
            <li class="nav-utility">
              <span class="header__nav-link">Utility</span>
              <button class="header__nav-select" aria-label="user menu">
                <svg width="24" height="24" class="drop-down__icon">
                  <use href="./images/icons/icons.svg#down"></use>
                </svg>
              </button>
              <ul class="nav__drop-down--list">
                <li class="nav__drop-down--item">
                  <a
                    href="#payout"
                    class="header__nav-link"
                    aria-label="to Payout"
                    >Payout</a
                  >
                </li>
                <li class="nav__drop-down--item">
                  <a
                    href="#farming"
                    class="header__nav-link"
                    aria-label="to Farming"
                    >Farming</a
                  >
                </li>
                <li class="nav__drop-down--item">
                  <a
                    href="#apy"
                    class="header__nav-link"
                    aria-label="to APY Boost"
                    >APY Boost</a
                  >
                </li>
                <li class="nav__drop-down--item">
                  <a href="#faq" class="header__nav-link" aria-label="to FAQ"
                    >FAQ</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>

        <div class="header__user-actions">
          <div class="user__actions">
            <span class="user-name">Aurielien Solamon</span>
            <button class="user-actions__select" aria-label="user menu">
              <svg width="24" height="24" class="nav-select-icon">
                <use href="./images/icons/icons.svg#down"></use>
              </svg>
            </button>
          </div>

          <ul class="user-actions__drop-down--list">
            <li class="user-actions__drop-down--item js-modal">
              <svg width="18" height="18" class="user__drop-down--icon">
                <use href="./images/icons/icons.svg#account"></use>
              </svg>
              <button class="user-actions__drop-down--link">Profile</button>
            </li>
            <li class="user-actions__drop-down--item js-modal">
              <svg width="18" height="18" class="user__drop-down--icon">
                <use href="./images/icons/icons.svg#user-wallet"></use>
              </svg>
              <button class="user-actions__drop-down--link">Wallet</button>
            </li>
            <li class="user-actions__drop-down--item js-modal">
              <svg width="18" height="18" class="user__drop-down--icon">
                <use href="./images/icons/icons.svg#settings"></use>
              </svg>
              <button class="user-actions__drop-down--link">Settings</button>
            </li>
            <li class="user-actions__drop-down--item js-modal">
              <svg width="18" height="18" class="user__drop-down--icon">
                <use href="./images/icons/icons.svg#logout"></use>
              </svg>
              <button class="user-actions__drop-down--link">Logout</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
