<section class="hero">
  <div class="container hero__wrapper">
    <h1 class="hero__title typography__heading">
      Unlock the full potential of Midas ecosystem
    </h1>
    <strong class="hero__title--strong">Buy <span>midas</span> token</strong>

    <ul class="hero__cards-list">
      <!-- First card -->
      <li class="hero__card-item">
        <div class="hero__card-item--graph">
          <button class="item-graph__btn">
            <span class="js-modal">30% APY</span>
            <svg width="18" height="18">
              <use href="./images/icons/icons.svg#fire"></use>
            </svg>
          </button>
          <div class="item-grah__columns-list">
            <span class="item-grah--column"></span>
            <span class="item-grah--column"></span>
            <span class="item-grah--column"></span>
            <span class="item-grah--column"></span>
            <span class="item-grah--column"></span>
            <span class="item-grah--column"></span>
            <span class="item-grah--column"></span>
            <span class="item-grah--column"></span>
            <span class="item-grah--column"></span>
            <span class="item-grah--column"></span>
          </div>
        </div>
        <div class="hero__card-item--desc">
          <h2 class="hero__card-title">Stake MIDAS token and earn 30% APY</h2>
          <span class="hero__card-link js-modal">Read more</span>
        </div>
      </li>
      <!-- Second card -->
      <li class="hero__card-item">
        <div class="hero__card-item--graph">
          <img
            class="item-graph__icon"
            src="./images/icons/tokens/btc.svg"
            alt="bitcoin"
            width="72"
            height="72"
          />
          <input type="checkbox" id="grah-check" class="item-graph__check" />
          <label for="grah-check" class="item-graph__label">
            <img
              class="item-graph__label-icon"
              src="./images/icons/decor/gift.svg"
              alt="gift"
              width="16"
              height="16"
            />
          </label>
          <img
            class="item-graph__icon"
            src="./images/icons/tokens/midas.svg"
            alt="bitcoin"
            width="72"
            height="72"
          />
        </div>
        <div class="hero__card-item--desc">
          <h2 class="hero__card-title">
            Get increased APY by getting rewards in MIDAS
          </h2>
          <span class="hero__card-link js-modal">How it work?</span>
        </div>
      </li>
      <!-- Third card -->
      <li class="hero__card-item">
        <div class="hero__card-item--graph">
          <img
            class="item-graph__graph"
            src="./images/icons/decor/graph.svg"
            alt="bitcoin"
            width="300"
            height="126"
          />

          <img
            class="item-graph__icon-midas"
            src="./images/icons/tokens/midas.svg"
            alt="bitcoin"
            width="96"
            height="96"
          />
        </div>
        <div class="hero__card-item--desc">
          <h2 class="hero__card-title">
            Buybacks & burns supporting MIDAS growth
          </h2>
          <span class="hero__card-link js-modal">How it work?</span>
        </div>
      </li>
    </ul>
  </div>
</section>
