<section class="hero">
  <div class="hero__wrapper container">
    <h1 class="hero__title">Unlock the full potential of Midas ecosystem</h1>
    <strong class="hero__title--strong">Buy <span>midas</span> token</strong>

    <ul class="hero__cards-list">
      <li class="hero__card-item">
        <h2 class="hero__card-title">Stake MIDAS token and earn 30% APY</h2>
        <a href="#" class="hero__card-link" aria-label="to">Read more</a>
      </li>
      <li class="hero__card-item">
        <h2 class="hero__card-title">
          Get increased APY by getting rewards in MIDAS
        </h2>
        <a href="#" class="hero__card-link" aria-label="to">How it work?</a>
      </li>
      <li class="hero__card-item">
        <h2 class="hero__card-title">
          Buybacks & burns supporting MIDAS growth
        </h2>
        <a href="#" class="hero__card-link" aria-label="to">How it work?</a>
      </li>
    </ul>
  </div>
</section>
