<section class="section metrics">
  <div id="metrics" class="metrics__container container" data-js-observer>
    <h2 class="metrics__title" data-aos="zoom-in-down" data-aos-duration="1000">
      Midas token <br />metrics
    </h2>

    <div class="metrics__info--wrapper">
      <ul class="metrics__info--list">
        <li class="metrics__info--item">
          <span class="metrics__info--item-value">$183,241</span>
          <p class="metrics__info--item-text">Volume (24 hours)</p>
        </li>

        <li class="metrics__info--item">
          <span class="metrics__info--item-value">$47,572,397</span>
          <p class="metrics__info--item-text">Market cap</p>
        </li>

        <li class="metrics__info--item">
          <span class="metrics__info--item-value">2,575,183.89</span>
          <p class="metrics__info--item-text">Circulation supply</p>
        </li>
      </ul>
    </div>

    <div class="metrics__graph--wrapper">
      <div class="metrics__graph--info">
        <span class="metrics__graph--info-value">$19.24</span>
        <p class="metrics__graph--info-text">Current price</p>
      </div>
    </div>

    <ul class="metrics__cards--list">
      <li
        class="metrics__card--item"
        data-aos="flip-right"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <svg width="60" height="60" class="metrics__card--icon">
          <use href="./images/icons/icons.svg#metamask"></use>
        </svg>
        <span class="metrics__card--link js-modal">Add to Metamask</span>
      </li>
      <li
        class="metrics__card--item"
        data-aos="flip-left"
        data-aos-delay="500"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <svg width="60" height="60" class="metrics__card--icon">
          <use href="./images/icons/icons.svg#smart"></use>
        </svg>
        <span class="metrics__card--link js-modal">Smart contract</span>
      </li>
    </ul>
  </div>
</section>
