<section class="section stake">
  <div class="container stake__container">
    <h2 class="stake__heading-title">Stake Midas<br />token and</h2>
    <a class="stake__heading-accent">Earn 30% APY</a>

    <p class="stake__heading-text">
      <span>MIDAS token</span> is based on Fantom network with total supply of
      <span>5,000,000 tokens</span>
      generating rewards for its holders.
    </p>

    <div class="stake__info--wrapper">
      <span class="stake__info--over">Over</span>
      <ul class="stake__info--list">
        <li class="stake__info--item">
          <div class="stake__info-icon wallet"></div>
          <!-- <svg width="48" height="48" class="stake__info-icon">
            <use href="../src/images/icons/icons.svg#wallet"></use>
          </svg> -->
          <div class="stake__info-text--wrapper">
            <h3 class="stake__info-value">$30 million</h3>
            <p class="stake__info-text">Are staking MIDAS tokens</p>
          </div>
        </li>
        <li class="stake__info--item">
          <div class="stake__info-icon users"></div>
          <!-- <svg width="48" height="48" class="stake__info-icon">
            <use href="../src/images/icons/icons.svg#users"></use>
          </svg> -->
          <div class="stake__info-text--wrapper">
            <h3 class="stake__info-value">2,600 users</h3>
            <p class="stake__info-text">Are staking MIDAS tokens</p>
          </div>
        </li>
        <li class="stake__info--item">
          <div class="stake__info-icon layers"></div>
          <!-- <svg width="48" height="48" class="stake__info-icon">
            <use href="../src/images/icons/icons.svg#layers"></use>
          </svg> -->
          <div class="stake__info-text--wrapper">
            <h3 class="stake__info-value">1,800,000</h3>
            <p class="stake__info-text">Total staked MIDAS</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
