<section id="support" class="section support" data-js-observer>
  <div class="container support__container">
    <h2 class="support__title" data-aos="zoom-in-down" data-aos-duration="1000">
      How we support <br />Midas token
    </h2>

    <ul class="support__info--list">
      <li class="support__info--item item-dex">
        <span class="support__info--value">$4,824,884</span>
        <p class="support__info--desc">Liquidity on DEX</p>
      </li>
      <li class="support__info--item item-back">
        <span class="support__info--value">63,844</span>
        <p class="support__info--desc">Bought back MIDAS tokens</p>
      </li>
    </ul>
  </div>
</section>
