<section class="section utility">
  <div class="container utility__container">
    <h2
      id="payout"
      class="utility__title"
      data-js-observer
      data-aos="flip-right"
      data-aos-easing="linear"
      data-aos-duration="1000"
    >
      Midas token utility
    </h2>

    <!-- ========= First graph ========== -->
    <ul class="utility__list">
      <li class="utility__item payout-graph">
        <ul class="utility__graph-columns--list">
          <li class="graph-columns__item first">Feb</li>
          <li class="graph-columns__item second">Mar</li>
          <li class="graph-columns__item third">Apr</li>
          <li class="graph-columns__item fourth">Jun</li>
          <li class="graph-columns__item fifth">Jul</li>
        </ul>
      </li>
      <!-- ============================== -->

      <li
        class="utility__item payout-text"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <h3 class="utility__item--title">Payout Split</h3>
        <p class="utility__item--text">
          10% of rewards earned by Midas platform community is used to
          <span>buyback MIDAS token</span> from the open market
        </p>
      </li>

      <!-- =========== Second graph =========== -->
      <li class="utility__item farming-graph">
        <div class="farming__dots"></div>
      </li>
      <!-- ==================================== -->

      <li
        id="farming"
        class="utility__item farming-text"
        data-js-observer
        data-aos="fade-left"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <h3 class="utility__item--title">Farming</h3>
        <p class="utility__item--text">
          Midas team will regularly launch farming activities on third party
          decentralized exchanges for community
          <span>to earn high APR rewards for staking</span> of MIDAS token in
          liquidity pools
        </p>
      </li>

      <!-- ============== Third graph ============= -->
      <li id="apy" class="utility__item boost-graph" data-js-observer>
        <div class="apy__icons">
          <img
            src="../src/images/icons/apy/ellipses.svg"
            alt="ellipses"
            width="148"
            height="148"
            class="apy__icons-item apy__icons--top"
          />
          <div class="apy__icons--center-wrapper">
            <img
              src="../src/images/icons/apy/ellipses.svg"
              alt="ellipses"
              width="148"
              height="148"
              class="apy__icons-item apy__icons--left"
            />
            <img
              src="../src/images/icons/apy/lightning.svg"
              alt="lightning"
              width="140"
              height="140"
              class="apy__icons--center"
            />
            <img
              src="../src/images/icons/apy/ellipses.svg"
              alt="ellipses"
              width="148"
              height="148"
              class="apy__icons-item apy__icons--right"
            />
          </div>
          <img
            src="../src/images/icons/apy/ellipses.svg"
            alt="ellipses"
            width="148"
            height="148"
            class="apy__icons-item apy__icons--bottom"
          />
        </div>
      </li>
      <!-- ========================================= -->

      <li
        class="utility__item boost-text"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <h3 class="utility__item--title">APY Boost</h3>
        <p class="utility__item--text">
          10% of rewards earned by Midas platform community is used to
          <span>buyback MIDAS token</span> from the open market
        </p>
      </li>
    </ul>

    <button class="utility__button js-modal">
      <p class="utility__button-text">Learn more</p>
      <svg width="20" height="20" class="utility__button-arrow">
        <use href="../src/images/icons/icons.svg#arrows-right"></use>
      </svg>
    </button>
  </div>
</section>
