.burger-menu {
  display: none;

  width: 50px;
  height: 50px;

  margin-left: auto;

  cursor: pointer;

  @media screen and (max-width: 909.8px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &.is-open .bar {
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.bar {
  display: block;

  width: 24px;
  height: 3px;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  background-color: var(--light-color);
}
