.mobile__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: fixed;
  right: -100%;

  z-index: 10;

  width: clamp(19.375rem, 16.692rem + 13.41vw, 25rem);

  padding: 50px;

  border-bottom-left-radius: 20px;
  background: var(--linear-grad-blue);

  transition: right 0.3s ease-in-out;

  &.menu-open {
    right: 0;
  }
}

.mobile__nav-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}

.mobile__nav-item {
  display: flex;
  align-items: center;

  font-size: 24px;
  font-weight: 600;
  color: var(--light-color);
}

.mobile__nav-link {
  padding: 10px;
}

.mobile__user-name {
  display: flex;
  align-items: center;

  text-align: right;
  font-size: 18px;
  font-weight: 600;
  color: var(--light-color);

  padding: 10px;
}

.mobile__user-actions {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.mobile-select-icon {
  width: 24px;
  height: 24px;

  fill: var(--light-color);
}
