.modal__form--title {
  display: block;

  padding-top: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  text-align: center;

  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.modal__form--details {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 20px;
}

.modal__form--field {
  display: flex;
  flex-direction: column;

  position: relative;

  margin-bottom: 10px;
}

.modal__form--label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-bottom: 4px;

  color: var(--paragraph-color);
}

.modal__form--input {
  height: 40px;

  padding: 11px 42px;

  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  background: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent);
  }
}

.form__input--icon {
  position: absolute;

  left: 12px;
  bottom: 11px;

  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--input:hover + .form__input--icon,
.modal__form--input:focus + .form__input--icon {
  fill: var(--accent);
}

.form__input--agree {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__label--agree {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--paragraph-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.label__agree--icon {
  width: 16px;
  height: 15px;

  margin-right: 7px;

  fill: var(--hover-background-color);

  background-color: transparent;
  border: 2px solid var(--paragraph-color);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input--agree:checked + .label__agree--icon {
  border: none;
  fill: var(--light-color);
  background-color: var(--accent);
}

.modal__form--btn {
  min-width: 150px;

  padding: 10px 20px;
  margin: 20px auto 0 auto;

  border-radius: 6px;
}
