.buy__title {
  font-size: clamp(3rem, 0.804rem + 9.76vw, 8.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -4.5px;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}

.buy__info--list {
  margin-top: 36px;

  display: flex;
  flex-direction: column;
  gap: 44px 0;

  @media screen and (min-width: 560px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

// .buy__info--item {
// }

.buy__item--step {
  display: inline-block;

  padding: clamp(0.5rem, 0.05rem + 2vw, 0.75rem)
    clamp(1rem, 0.1rem + 4vw, 1.5rem);

  font-size: clamp(0.75rem, 0.075rem + 3vw, 1.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: var(--text-light);

  border-radius: 12px;
  background: var(--background-08);
}

.buy__item--title {
  margin-top: 20px;

  font-size: clamp(1rem, -2.038rem + 13.5vw, 2.688rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.024px;
  color: var(--text-light);
}

.buy__item--subtitle {
  margin-top: 12px;

  font-size: clamp(0.75rem, 0.075rem + 3vw, 1.125rem);
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.144px;
  color: var(--text-light);
}

.buy__item--desc {
  margin-top: 12px;

  font-size: clamp(1rem, 0.1rem + 4vw, 1.5rem);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-36);
}

.buy__item--img {
  margin-top: 24px;
}

.buy__list--link,
.buy__item--link {
  width: 100%;

  padding: 12px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  background: var(--light-color);
}

.buy__list--link {
  @media screen and (min-width: 560px) {
    display: none;
  }
}

.buy__item--link {
  display: none;

  @media screen and (min-width: 560px) {
    display: flex;
  }
}

.buy__link--text {
  font-size: clamp(1rem, 0.1rem + 4vw, 1.5rem);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.24px;
  color: var(--text-dark);
}

.buy-btn__link--arrow {
  width: clamp(0.875rem, 0.425rem + 2vw, 1.125rem);
}
