.buy__title {
  font-size: clamp(3rem, 0.804rem + 9.76vw, 8.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -4.5px;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}

.buy__info--list {
  margin-top: 36px;
}

.buy__item--step {
  display: inline-block;

  padding: 8px 16px;

  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: var(--text-light);

  border-radius: 12px;
  background: var(--background-08);
}
