.buy__container {
  overflow-x: hidden;
}

.buy__title {
  font-size: clamp(3rem, 0.804rem + 9.76vw, 8.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -4.5px;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}

.buy__info--list {
  margin-top: 36px;

  display: flex;
  flex-direction: column;
  gap: 44px 0;

  @media screen and (min-width: 560px) {
    gap: 16px 0;
  }
}

.buy__info--item {
  @media screen and (min-width: 560px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
  }
}

.buy__item--text,
.buy__item--img {
  @media screen and (min-width: 560px) {
    width: calc((100% - 20px) / 2);
  }
}

.buy__item--step {
  display: inline-block;

  padding: clamp(0.5rem, 0.05rem + 2vw, 0.75rem)
    clamp(1rem, 0.1rem + 4vw, 1.5rem);

  font-size: clamp(0.75rem, 0.075rem + 3vw, 1.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: var(--text-light);

  border-radius: 12px;
  background: var(--background-08);

  @media screen and (min-width: 560px) {
    padding: 8px clamp(1rem, 0.563rem + 1.25vw, 1.5rem);

    font-size: clamp(0.75rem, 0.531rem + 0.63vw, 1rem);
  }
}

.buy__item--title {
  margin-top: 20px;

  font-size: clamp(1rem, -2.038rem + 13.5vw, 2.688rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.024px;
  color: var(--text-light);

  @media screen and (min-width: 560px) {
    font-size: clamp(2rem, -0.625rem + 7.5vw, 5rem);
  }
}

.buy__item--subtitle {
  margin-top: 12px;

  font-size: clamp(0.75rem, 0.075rem + 3vw, 1.125rem);
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.144px;
  color: var(--text-light);

  @media screen and (min-width: 560px) {
    font-size: clamp(0.75rem, 0.531rem + 0.63vw, 1rem);
  }
}

.buy__item--desc {
  margin-top: 12px;

  font-size: clamp(1rem, 0.1rem + 4vw, 1.5rem);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-36);

  @media screen and (min-width: 560px) {
    font-size: clamp(1rem, 0.125rem + 2.5vw, 2rem);
  }
}

.buy__item--img {
  margin-top: 24px;

  @media screen and (min-width: 560px) {
    margin-top: 0;
  }
}

.buy__list--link,
.buy__item--link {
  max-width: 100%;

  padding: 12px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  background: var(--light-color);

  @media screen and (min-width: 560px) {
    max-width: 285px;

    padding: clamp(0.75rem, 0.094rem + 1.88vw, 1.5rem)
      clamp(1.5rem, 0.188rem + 3.75vw, 3rem);
  }
}

.buy__list--link {
  @media screen and (min-width: 560px) {
    display: none;
  }
}

.buy__item--link {
  display: none;

  @media screen and (min-width: 560px) {
    display: flex;

    margin-top: 50px;
  }
}

.buy__link--text {
  flex-shrink: 0;

  font-size: clamp(1rem, 0.1rem + 4vw, 1.5rem);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.24px;
  color: var(--text-dark);

  @media screen and (min-width: 560px) {
    font-size: clamp(1rem, 0.563rem + 1.25vw, 1.5rem);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.576px;
  }
}

.buy-btn__link--arrow {
  width: clamp(0.875rem, 0.425rem + 2vw, 1.125rem);

  @media screen and (min-width: 560px) {
    width: clamp(1rem, 0.563rem + 1.25vw, 1.5rem);
  }
}
