.faq {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.faq__container {
  text-align: center;
}

.faq__title {
  font-size: clamp(3rem, 2.143rem + 3.81vw, 5rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2.304px;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}

.faq__desc {
  margin-top: 24px;

  font-size: clamp(1.25rem, 0.929rem + 1.43vw, 2rem);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.4px;
  color: var(--text-36);
}

.faq__socials--list {
  margin-top: clamp(2rem, 1.571rem + 1.9vw, 3rem);

  display: flex;
  justify-content: center;
  gap: 0 clamp(1.25rem, 0.5rem + 3.33vw, 3rem);
}

.faq__socials--link {
  display: flex;
  align-items: center;
  gap: 0 12px;

  padding: 14px;

  border-radius: 50%;
  background-color: var(--background-blue);

  @media screen and (min-width: 768px) {
    padding: 10px;
    border-radius: 0;
    background-color: transparent;
  }
}

.socials__link--icon {
  width: clamp(1.25rem, 0.365rem + 3.93vw, 2.25rem);

  fill: var(--accent-primary);
}

.socials__link--icon-headphones {
  width: clamp(1.25rem, 0.587rem + 2.95vw, 2rem);

  fill: var(--accent-primary);
}

.socials__link--name {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;

    font-size: clamp(1.25rem, -0.083rem + 2.78vw, 2rem);
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.64px;
    color: var(--accent-primary);
  }
}

.faq__details--list {
  width: clamp(17.5rem, 6.136rem + 56.82vw, 48.75rem);

  margin-top: clamp(3rem, 2.143rem + 3.81vw, 5rem);
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 0.232rem + 1.19vw, 1.125rem);
}

.faq__details--item {
  padding: 14px 16px;

  border-radius: 16px;
  border: 1px solid var(--background-04);
  background: var(--background-12);
}

.faq__details {
  text-align: left;
}

.faq__details--title {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  font-size: clamp(1rem, 0.786rem + 0.95vw, 1.5rem);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-light);

  cursor: pointer;

  & h3 {
    width: clamp(12.5rem, 2.857rem + 48.21vw, 46.25rem);
  }
}

.faq__details--icon {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: clamp(0.125rem, 0.018rem + 0.48vw, 0.375rem);

  border-radius: 50%;
  background-color: var(--background-12);

  & svg {
    width: 24px;
    height: 24px;

    fill: #fff;
    fill-opacity: 0.24;

    transition: all 0.3s ease;
  }
}

.faq__details[open] .faq__details--icon svg {
  fill: var(--accent-primary);
  fill-opacity: 1;

  transform: rotate(-180deg);
}

.faq__details--desc {
  margin-top: clamp(1.125rem, 0.964rem + 0.71vw, 1.5rem);
  padding-right: 16px;

  font-size: clamp(1rem, 0.893rem + 0.48vw, 1.25rem);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-light);
}

.faq__details--desc-list {
  width: 100%;

  margin-top: clamp(0.75rem, 0.643rem + 0.48vw, 1rem);

  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.faq__details--desc-item {
  display: flex;

  padding-right: 16px;

  font-size: clamp(1rem, 0.893rem + 0.48vw, 1.25rem);
  font-weight: 500;
  letter-spacing: -0.4px;
  color: var(--text-56);
  text-align: justify;

  &::before {
    content: '';
    width: 12px;
    height: 12px;

    flex-shrink: 0;

    margin-right: 16px;

    transform: translateY(5px);

    border-radius: 50%;
    background-color: var(--accent-primary);
  }
}
