.footer {
  visibility: hidden;
  height: 0;

  @media screen and (min-width: 910px) {
    visibility: visible;
    height: auto;
  }
}
.footer__wrapper {
  padding-top: 38px;
  padding-bottom: 56px;
}

.footer__links-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer__item-list {
  width: 210px;
}

.footer__item-list--title {
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: -0.36px;
  color: var(--text-light);
}

.footer__item-list--title.dark {
  color: var(--text-24);
}

.footer__item-sublist {
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__item-sublist--item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.32px;
  color: var(--text-56);

  text-wrap: balance;
}
