.header {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 500;

  transition: 0.3s ease;
}

.header__wrapper {
  width: 100%;

  background-color: rgba(10, 12, 15, 0.9);
  backdrop-filter: blur(10px);

  &.open-menu {
    background-color: var(--background-primary);
  }
}

.logo-icon {
  width: 56px;
  height: 64px;
}

.header__navigation-bar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  position: relative;

  @media screen and (min-width: 910px) {
    flex-wrap: nowrap;
  }
}

.header__menu {
  width: 100%;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -100%;
  left: 0;

  padding-bottom: 20px;

  backdrop-filter: blur(10px);

  transition: top 0.3s ease-in-out;

  &.open-menu {
    display: flex;

    top: 100%;

    background-color: var(--background-primary);
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 910px) {
    display: flex;

    position: static;

    margin-left: 28px;
    padding-bottom: 0;

    border-bottom: none;
    background-color: transparent;
    backdrop-filter: none;
  }
}

.header__nav-list {
  width: 100%;

  padding-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  border-bottom: 1px solid var(--background-12);

  transition: top 1s ease-in-out;

  @media screen and (min-width: 480px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 0;

    border-bottom: none;
  }
}

.header__nav-item,
.nav-utility {
  display: flex;
  align-items: center;

  position: relative;

  z-index: 100;

  transition: all 0.3s ease;

  & span {
    cursor: pointer;
  }
}

.header__nav-link {
  padding: 10px 0;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-56);

  &.active {
    color: var(--text-light);
  }

  @media screen and (min-width: 910px) {
    font-size: 16px;
  }
}

.nav__drop-down--list {
  width: max-content;

  padding: 10px 20px;

  display: none;

  position: absolute;
  top: 40px;
  left: 10px;

  border-radius: 8px;
  background: rgba(50, 67, 95, 0.973);
  backdrop-filter: blur(10px);
}

.nav-utility:hover .nav__drop-down--list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.nav-utility:hover .drop-down__icon {
  transform: rotate(180deg);

  fill: var(--accent-primary);
}

.nav__drop-down--link {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-56);

  @media screen and (min-width: 910px) {
    font-size: 16px;
  }
}

.drop-down__icon,
.nav-select-icon {
  width: 24px;
  height: 24px;

  fill: var(--text-36);

  transition: all 300ms ease;
}

.header__user-actions {
  margin-top: 20px;
  padding: 10px 0;

  position: relative;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-56);

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 910px) {
    font-size: 16px;
  }
}

.user__actions {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.user-actions__drop-down--list {
  width: 100%;

  padding: 10px 20px;

  display: none;

  position: absolute;
  top: 40px;
  left: 0;

  border-radius: 8px;
  background: rgba(50, 67, 95, 0.973);
  backdrop-filter: blur(10px);
}

.user-actions__drop-down--item {
  display: flex;
  align-items: center;
  column-gap: 20px;

  cursor: pointer;
}

// Open - Close in JS
.nav-select-icon.active__drop-down {
  transform: rotate(180deg);

  fill: var(--accent-primary);
}

.user-actions__drop-down--list.active__drop-down {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

// ==========================

.user__drop-down--icon {
  width: 18px;
  height: 18px;

  fill: var(--text-36);
}
