.header {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 999;

  background-color: rgba(10, 12, 15, 0.7);
}

.header__wrapper {
  background-color: rgba(10, 12, 15, 0.7);
  backdrop-filter: blur(10px);
}

.logo-icon {
  width: 56px;
  height: 64px;
}

.header__navigation-bar {
  display: flex;
  align-items: center;
}

.header__menu {
  display: none;

  @media screen and (min-width: 910px) {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    margin-left: 28px;

    background: none;
  }
}

.header__menu.menu-open {
  right: 0;
}

.header__nav-list {
  display: flex;
  gap: 32px;
}

.header__nav-item {
  display: flex;
  align-items: center;

  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-56);

  transition: all 0.3s ease;
}

.header__nav-item.active {
  color: var(--text-light);
}

.header__nav-link {
  padding: 10px 0;
}

.nav-select-icon {
  width: 24px;
  height: 24px;

  fill: var(--text-36);
}

.header__user-actions {
  display: flex;
  align-items: center;

  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-56);
}
