.header {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 500;

  background-color: rgba(10, 12, 15, 0.7);
}

.header__wrapper {
  background-color: rgba(10, 12, 15, 0.7);
  backdrop-filter: blur(10px);
}

.logo-icon {
  width: 56px;
  height: 64px;
}

.header__navigation-bar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  position: relative;

  @media screen and (min-width: 910px) {
    flex-wrap: nowrap;
  }
}

.header__menu {
  width: 100%;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 64px;
  left: 0;
  z-index: 1000;

  padding-bottom: 20px;

  border-bottom: 1px solid var(--background-12);
  background-color: rgba(10, 12, 15, 0.9);
  backdrop-filter: blur(10px);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 910px) {
    display: flex;

    position: static;

    margin-left: 28px;
    padding-bottom: 0;

    border-bottom: none;
    background-color: transparent;
    backdrop-filter: none;
  }
}

.header__menu.open-menu {
  display: flex;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 480px) {
    flex-direction: row;
    gap: 32px;
  }
}

.header__nav-item {
  display: flex;
  align-items: center;
  z-index: 1100;

  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-56);

  transition: all 0.3s ease;
}

.header__nav-item.active {
  color: var(--text-light);
}

.header__nav-link {
  padding: 10px 0;
}

.nav-select-icon {
  width: 24px;
  height: 24px;

  fill: var(--text-36);
}

.header__user-actions {
  display: flex;
  align-items: center;

  margin-top: 20px;

  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-56);

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}
