.hero {
  padding-top: clamp(2rem, 1.143rem + 4.29vw, 5rem);
  padding-bottom: clamp(1.875rem, 0.268rem + 8.04vw, 7.5rem);

  border-bottom-left-radius: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
  border-bottom-right-radius: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);

  background-color: var(--background-primary);
}

.hero__title,
.hero__title--strong {
  width: clamp(18.75rem, 3.036rem + 78.57vw, 73.75rem);

  font-size: clamp(3.5rem, 2.179rem + 6.61vw, 8.125rem);
  font-weight: 700;
  line-height: clamp(3.5rem, 2.357rem + 5.71vw, 7.5rem);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
  letter-spacing: -5px;
  color: var(--text-light);

  text-wrap: balance;
}

.hero__title--strong {
  background-image: linear-gradient(268deg, #577cff 0%, #4cbfff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  & span {
    display: none;

    @media screen and (min-width: 910px) {
      display: inline;
    }
  }
}

.hero__cards-list {
  display: flex;
  justify-content: space-between;
  gap: clamp(0.375rem, 0.125rem + 1.25vw, 1.25rem);

  margin-top: clamp(4rem, 2.714rem + 6.43vw, 8.5rem);
}

.hero__card-item {
  width: clamp(18.75rem, 17.321rem + 7.14vw, 23.75rem);
  height: clamp(16.25rem, 14.964rem + 6.43vw, 20.75rem);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: clamp(1.5rem, 1.357rem + 0.71vw, 2rem)
    clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);

  border-radius: 24px;
  border: 1px solid var(--background-04);
  background: var(--background-08);
  box-shadow: 0px 24px 48px -24px rgba(10, 12, 15, 0.16);
  backdrop-filter: blur(60px);
}

.hero__card-item--graph {
  width: 100%;
  height: clamp(8rem, 7.857rem + 0.71vw, 8.5rem);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  overflow: hidden;
}

.item-grah__columns-list {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  gap: 3px;
}

// First card graph
.item-graph__btn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  padding: 6px 12px;

  border-radius: 16px;
  background: linear-gradient(268deg, #577cff 0%, #4cbfff 100%), #43a1f7;

  transition: all 0.3s ease;

  &:focus-visible,
  &:hover {
    transform: scale(1.1);
  }
}

.item-grah--column {
  width: 24px;
  height: 100%;

  border-radius: 8px;

  &:nth-child(1) {
    height: 10%;
    background: var(--background-08);
  }
  &:nth-child(2) {
    height: 15%;
    background: var(--background-08);
  }
  &:nth-child(3) {
    height: 19%;
    background: var(--background-08);
  }
  &:nth-child(4) {
    height: 25%;
    background: var(--background-08);
  }
  &:nth-child(5) {
    height: 32%;
    background: var(--background-08);
  }
  &:nth-child(6) {
    height: 41%;
    background: var(--background-08);
  }
  &:nth-child(7) {
    height: 59%;
    background: var(--background-08);
  }
  &:nth-child(8) {
    height: 70%;
    background: var(--background-08);
  }
  &:nth-child(9) {
    height: 85%;
    background: var(--background-08);
  }
  &:nth-child(10) {
    height: 100%;
    background: var(--background-08);
  }
}
// ================

// Second card graph
.item-graph__label {
  width: 56px;
  height: 32px;

  display: block;

  position: relative;

  margin: 0 20px;

  background: var(--background-50);
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s ease;

  &:after {
    content: '';
    width: 28px;
    height: 28px;

    position: absolute;
    top: 2px;
    left: 2px;

    border-radius: 50%;
    background: var(--light-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    transition: 0.3s ease;
  }
}

.item-graph__label-icon {
  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 10;

  transition: 0.3s ease;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + .item-graph__label {
  background: linear-gradient(268deg, #577cff 0%, #4cbfff 100%), #43a1f7;

  & .item-graph__label-icon {
    top: 50%;
    left: 100%;
    transform: translate(-115%, -50%);
  }
}
input:checked + .item-graph__label:after {
  left: 100%;
  transform: translateX(-100%);
}

// ===================================

// Third card graph

.item-graph__icon-midas {
  position: absolute;
  z-index: 20;

  border: 1px solid rgb(88, 88, 88);
  border-radius: 50%;
  background: rgb(27, 27, 27);
}
// ===================================

.hero__card-item--desc {
  margin-top: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
  text-align: center;
}

.hero__card-title {
  font-size: clamp(1.25rem, 1.136rem + 0.57vw, 1.5rem);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.4px;
  color: var(--White, #fff);

  margin-bottom: clamp(0.5rem, 0.386rem + 0.57vw, 0.75rem);
}
