.metrics__title {
  text-align: center;
  font-size: clamp(3rem, 0.804rem + 9.76vw, 8.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -4.5px;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}

.metrics__cards--list {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  flex-wrap: wrap;

  @media screen and (min-width: 560px) {
    gap: 20px;
  }
}

.metrics__card--item {
  width: 100%;

  padding: 24px;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.4px;
  color: var(--text-light);

  border-radius: 32px;
  border: 1px solid var(--background-08);
  background: var(--background-08);
  box-shadow: 0px 40px 64px -30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);

  @media screen and (min-width: 560px) {
    width: calc((100% - 20px) / 2);
    max-width: 480px;

    font-size: clamp(1.125rem, 0.359rem + 2.19vw, 2rem);
  }
}

.metrics__card--link {
  margin-top: clamp(1.5rem, 0.804rem + 3.1vw, 3.125rem);

  position: relative;

  &::after {
    content: '';
    width: 22px;
    height: 22px;

    position: absolute;
    bottom: 50%;
    right: -30px;
    transform: translateY(50%);
    background-image: url(../src/images/icons/arrows/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
