.stake__container {
  background-image: url(../src/images/bg/ellipse-pink_desk.png);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: 100%;

  @media screen and (min-width: 560px) {
    background-position: 0 120%;
    background-size: 70%;
  }
}

.stake__heading-title {
  font-size: clamp(3rem, 1.136rem + 9.32vw, 8.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -5;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);

  will-change: transform, -webkit-transform, opacity;
}

.stake__heading-accent {
  display: inline-block;

  margin-left: clamp(-0.625rem, 0.511rem + -5.68vw, -3.75rem);
  padding: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem)
    clamp(1.5rem, 0.955rem + 2.73vw, 3rem);

  font-size: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -3px;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);

  border-radius: clamp(1.5rem, 0.682rem + 4.09vw, 3.75rem);
  background: var(--linear-grad-rose);

  cursor: pointer;

  transform: rotate(-2deg);

  cursor: pointer;
}

.stake__heading-text {
  margin-top: 50px;

  font-size: clamp(1.25rem, 0.5rem + 3.33vw, 3rem);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.4px;
  color: var(--text-36);

  & span {
    color: var(--text-light);
  }

  @media screen and (min-width: 910px) {
    font-weight: 500;
  }
}

.stake__info--wrapper {
  @media screen and (min-width: 560px) {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: clamp(2.5rem, -0.781rem + 9.38vw, 6.25rem);
  }
}

.stake__info--over {
  display: block;
  margin-top: 48px;

  font-size: 64px;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 20.48px;
  color: var(--text-08);
  text-transform: uppercase;

  @media screen and (min-width: 560px) {
    margin-top: 0;

    font-size: clamp(4rem, 0.5rem + 10vw, 8rem);
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
}

.stake__info--list {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @media screen and (min-width: 560px) {
    margin-top: 0;

    row-gap: clamp(2rem, 0.25rem + 5vw, 4rem);
  }
}

.stake__info--item {
  display: flex;
  align-items: center;
  column-gap: 16px;

  will-change: transform, -webkit-transform, opacity;

  @media screen and (min-width: 560px) {
    column-gap: clamp(1rem, -0.313rem + 3.75vw, 2.5rem);
  }
}

.stake__info-icon {
  width: 58px;
  height: 58px;

  border-radius: 50%;

  background-color: var(--background-rose);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;

  &.wallet {
    background-image: url(../src/images/icons/stake/wallet.svg);
  }
  &.users {
    background-image: url(../src/images/icons/stake/users.svg);
  }
  &.layers {
    background-image: url(../src/images/icons/stake/layers.svg);
  }

  @media screen and (min-width: 560px) {
    width: clamp(3.625rem, 1.328rem + 6.56vw, 6.25rem);
    height: clamp(3.625rem, 1.328rem + 6.56vw, 6.25rem);

    background-size: clamp(1.75rem, 0.656rem + 3.13vw, 3rem);
  }
}

.stake__info-value {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.024px;
  color: var(--text-light);

  @media screen and (min-width: 560px) {
    font-size: clamp(2rem, -0.625rem + 7.5vw, 5rem);
  }
}

.stake__info-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-36);

  @media screen and (min-width: 560px) {
    font-size: clamp(1rem, 0.125rem + 2.5vw, 2rem);
  }
}
