.support__container {
  text-align: center;

  background-image: url(../src/images/bg/ellipse-support_mob.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 560px) {
    background-image: none;
  }
}

.support__title {
  font-size: clamp(3rem, 0.804rem + 9.76vw, 8.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2.8px;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);

  will-change: transform, -webkit-transform, opacity;
}

.support__info--list {
  width: 100%;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 560px) {
    flex-direction: row;

    margin-top: 60px;

    background-image: url(../src/images/bg/ellipse-support_desk.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.support__info--item {
  width: 100%;
  height: clamp(18.375rem, 6.453rem + 34.06vw, 32rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.item-dex {
    background-image: url(../src/images/icons/decor/ellipse-purple.svg);
    background-position: bottom;
    background-repeat: no-repeat;

    @media screen and (min-width: 560px) {
      margin-right: -30px;

      background-image: url(../src/images/icons/decor/ellipse-purple-gor.svg);
      background-position: right;
    }
  }

  &.item-back {
    margin-top: -55px;
    margin-bottom: clamp(-6.25rem, -12.917rem + 33.33vw, -1.25rem);

    background-image: url(../src/images/icons/decor/ellipse-blue.svg);
    background-repeat: no-repeat;

    @media screen and (min-width: 560px) {
      margin-top: 0;
      margin-right: -30px;

      background-image: url(../src/images/icons/decor/ellipse-blue-gor.svg);
      background-position: left;
    }
  }
}

.support__info--value {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.6px;
  color: var(--text-light);

  @media screen and (min-width: 560px) {
    font-size: clamp(1.875rem, -0.313rem + 6.25vw, 4.375rem);
  }
}

.support__info--desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.256px;
  color: var(--text-36);

  @media screen and (min-width: 560px) {
    margin-top: 12px;

    font-size: clamp(0.75rem, 0.094rem + 1.88vw, 1.5rem);
  }
}
