.utility__title {
  font-size: clamp(3rem, 0.804rem + 9.76vw, 8.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -4.5px;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}

.utility__list {
  margin-top: clamp(2.5rem, 1.964rem + 2.38vw, 3.75rem);

  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;

  @media screen and (min-width: 560px) {
    row-gap: clamp(1.875rem, 0.234rem + 4.69vw, 3.75rem);
    column-gap: 24px;
  }
}

.utility__item {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 560px) {
    width: calc((100% - 24px) / 2);
  }
}

.utility__item--title {
  font-size: clamp(2rem, 0.714rem + 5.71vw, 5rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2.5px;
  color: var(--text-light);

  @media screen and (min-width: 560px) {
    font-size: clamp(2rem, -1.429rem + 7.14vw, 5rem);
  }
}

.utility__item--text {
  margin-top: clamp(0.75rem, 0.214rem + 2.38vw, 2rem);

  font-size: clamp(1rem, 0.571rem + 1.9vw, 2rem);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.35px;
  text-align: justify;
  color: var(--text-36);

  & span {
    color: var(--text-light);
  }

  @media screen and (min-width: 560px) {
    font-size: clamp(1rem, -0.143rem + 2.38vw, 2rem);
  }
}

// ========== First graph =========
.utility__graph-columns--list {
  width: 100%;
  height: 100%;

  display: flex;
  column-gap: clamp(0.5rem, 0.179rem + 1.43vw, 1.25rem);
}

.graph-columns__item {
  width: 35px;
  height: 82%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-size: clamp(0.438rem, 0.089rem + 1.55vw, 1.25rem);
  font-weight: 600;
  line-height: 3;
  letter-spacing: -0.2px;
  color: var(--text-light);

  border-radius: clamp(0.563rem, -0.509rem + 2.23vw, 1.5rem);
  border: 2px solid var(--background-08);
  background: var(--background-08);

  &.first {
    transform: translateY(20%);
  }
  &.second {
    transform: translateY(15%);
  }
  &.third {
    transform: translateY(10%);
  }
  &.fourth {
    transform: translateY(5%);
  }
  &.fifth {
    background: var(--linear-grad-yellow);
  }

  @media screen and (min-width: 560px) {
    width: 17%;
  }
}

// ===============================

//  ========== Second graph =========
.farming__dots {
  width: 100%;
  height: 100%;

  background-image: url(../src/images/icons/farming/dots1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  animation: dots 3s infinite;

  @media screen and (min-width: 560px) {
    background-size: 120%;
  }
}

@keyframes dots {
  0% {
    background-image: url(../src/images/icons/farming/dots1.svg);
  }
  33% {
    background-image: url(../src/images/icons/farming/dots2.svg);
  }
  66% {
    background-image: url(../src/images/icons/farming/dots3.svg);
  }
}
// ======================================

//  =========== Third graph =============
.apy__icons {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.apy__icons-item {
  width: clamp(5rem, 1.281rem + 10.63vw, 9.25rem);
  height: clamp(5rem, 1.281rem + 10.63vw, 9.25rem);
}

.apy__icons--center-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.apy__icons--left {
  animation: ellipses-left 5s infinite;
}
@keyframes ellipses-left {
  0% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.3;
  }
}

.apy__icons--top {
  transform: rotate(90deg);
  animation: ellipses-top 5s infinite;
}
@keyframes ellipses-top {
  0% {
    transform: rotate(90deg) scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: rotate(90deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(90deg) scale(0.5);
    opacity: 0.3;
  }
}

.apy__icons--right {
  transform: rotate(180deg);
  animation: ellipses-right 5s infinite;
}

@keyframes ellipses-right {
  0% {
    transform: rotate(180deg) scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(180deg) scale(0.5);
    opacity: 0.3;
  }
}

.apy__icons--bottom {
  transform: rotate(-90deg);
  animation: ellipses-bottom 5s infinite;
}

@keyframes ellipses-bottom {
  0% {
    transform: rotate(-90deg) scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: rotate(-90deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(-90deg) scale(0.5);
    opacity: 0.3;
  }
}

.apy__icons--center {
  width: clamp(5.625rem, 2.891rem + 7.81vw, 8.75rem);
  height: clamp(5.625rem, 2.891rem + 7.81vw, 8.75rem);

  animation: lightning 5s infinite;
}
@keyframes lightning {
  0% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.3;
  }
}
// ============================================

.utility__button {
  margin-top: clamp(2.5rem, 1.857rem + 2.86vw, 4rem);

  position: relative;

  &::after {
    content: '';
    width: 22px;
    height: 22px;

    position: absolute;
    bottom: 50%;
    right: -30px;
    transform: translateY(50%);
    background-image: url(../src/images/icons/arrows/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// ================= Items position ================
.payout-graph {
  height: clamp(11.25rem, 3.375rem + 35vw, 15.625rem);
  order: 1;

  @media screen and (min-width: 560px) {
    height: clamp(12.5rem, 4.68rem + 22.34vw, 21.438rem);
  }
}

.payout-text {
  order: 2;

  //   @media screen and (min-width: 560px) {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //   }
}

.farming-graph {
  order: 3;

  height: clamp(8.75rem, 0.929rem + 34.76vw, 27rem);
}

.farming-text {
  order: 4;
}

.boost-graph {
  order: 5;
}

.boost-text {
  order: 6;
}

@media screen and (min-width: 560px) {
  .payout-graph {
    order: 2;
  }

  .payout-text {
    order: 1;
  }

  .boost-graph {
    order: 6;
  }

  .boost-text {
    order: 5;
  }
}
