.utility__title {
  font-size: clamp(3rem, 0.804rem + 9.76vw, 8.125rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -4.5px;
  color: var(--text-light);
  text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}

.utility__item--title {
  font-size: clamp(2rem, 0.714rem + 5.71vw, 5rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2.5px;
  color: var(--text-light);
}

.utility__item--text {
  margin-top: clamp(0.75rem, 0.214rem + 2.38vw, 2rem);

  font-size: clamp(1rem, 0.571rem + 1.9vw, 2rem);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.35px;
  color: var(--text-36);

  & span {
    color: var(--text-light);
  }
}

.utility__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @media screen and (min-width: 560px) {
    gap: clamp(0.625rem, 0.078rem + 1.56vw, 1.25rem);
  }
}

.utility__item {
  width: 100%;
  height: clamp(8.75rem, 0.929rem + 34.76vw, 27rem);

  @media screen and (min-width: 560px) {
    width: calc((100% - clamp(0.625rem, 0.078rem + 1.56vw, 1.25rem)) / 2);
  }
}

// ========== First graph =========
.graph-columns__item {
  font-size: clamp(0.438rem, 0.089rem + 1.55vw, 1.25rem);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.2px;
  color: var(--text-light);
}

.utility__graph-columns--list {
  display: flex;
  column-gap: clamp(0.5rem, 0.179rem + 1.43vw, 1.25rem);
}
// ===============================

//  ========== Second graph =========
.farming__dots {
  width: 484px;
  height: 304px;

  background-image: url(../src/images/icons/farming/dots1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  animation: dots 3s infinite;
}

@keyframes dots {
  0% {
    background-image: url(../src/images/icons/farming/dots1.svg);
  }
  33% {
    background-image: url(../src/images/icons/farming/dots2.svg);
  }
  66% {
    background-image: url(../src/images/icons/farming/dots3.svg);
  }
}

.apy__icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 43px;
}

.apy__icons--center-wrapper {
  display: flex;
  gap: 43px;
}

.apy__icons--left {
  animation: ellipses-left 5s infinite;
}
@keyframes ellipses-left {
  0% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.3;
  }
}

.apy__icons--top {
  transform: rotate(90deg);
  animation: ellipses-top 5s infinite;
}
@keyframes ellipses-top {
  0% {
    transform: rotate(90deg) scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: rotate(90deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(90deg) scale(0.5);
    opacity: 0.3;
  }
}

.apy__icons--right {
  transform: rotate(180deg);
  animation: ellipses-right 5s infinite;
}

@keyframes ellipses-right {
  0% {
    transform: rotate(180deg) scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(180deg) scale(0.5);
    opacity: 0.3;
  }
}

.apy__icons--bottom {
  transform: rotate(-90deg);
  animation: ellipses-bottom 5s infinite;
}

@keyframes ellipses-bottom {
  0% {
    transform: rotate(-90deg) scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: rotate(-90deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(-90deg) scale(0.5);
    opacity: 0.3;
  }
}

.apy__icons--center {
  width: 140px;
  height: 140px;

  animation: lightning 5s infinite;
}
@keyframes lightning {
  0% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.3;
  }
}

.utility__button {
  margin-top: clamp(2.5rem, 1.857rem + 2.86vw, 4rem);

  position: relative;

  &::after {
    content: '';
    width: 22px;
    height: 22px;

    position: absolute;
    bottom: 50%;
    right: -30px;
    transform: translateY(50%);
    background-image: url(../src/images/icons/arrows/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
